<%- include('header') %>

<div class='container'>
  <div class='divcentral'>


    <form method="GET" action="/cotacao">
      <input name="cotacao" placeholder="Cotação dolar" value="<%= cotacao %>"/> <br>
      <input name="quantidade" placeholder="Quantidade de dolares " /> <br>
      <button>Converter</button>
    </form>
  </div>
    <div>
      <img class='img-1' src="ConvertMyMoney.png" alt="imagemconverty">
    </div> 
</div>

  <%- include('footer') %> 